In [3]:

import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import psycopg2
from sklearn.preprocessing import OrdinalEncoder
from sqlalchemy import create_engine
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import pickle
import warnings
warnings.filterwarnings('ignore')

In [4]:
filename = 'frontend/model_saves/regression_model.pkl'
loaded_model = pickle.load(open(filename, 'rb'))

In [5]:
# engine = create_engine('postgresql://postgres:postgres@localhost/proj_4')
engine = psycopg2.connect('postgresql://postgres:postgres@localhost/proj_4')

In [6]:
cars_df = pd.read_sql('select * from used_cars', engine)
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62017 entries, 0 to 62016
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            62017 non-null  int64
 1   price         62017 non-null  float64
 2   year          62017 non-null  int64
 3   manufacturer  62017 non-null  object
 4   condition     62017 non-null  object
 5   cylinders     62017 non-null  object
 6   fuel          62017 non-null  object
 7   odometer      62017 non-null  float64
 8   title_status  62017 non-null  object
 9   transmission  62017 non-null  object
 10  drive         62017 non-null  object
 11  size          62017 non-null  object
 12  type          62017 non-null  object
 13  paint_color   62017 non-null  object
 14  state         62017 non-null  object
 15  posting_date  62017 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 7.6+ MB

In [7]:
# Drop id
cars_df = cars_df.drop(columns=['id'])

In [8]:
# cars_df = cars_df[cars_df['price'] < 100000].copy()

In [9]:
# nominal encoder
top_manufacturers = cars_df['manufacturer'].value_counts()[cars_df['manufacturer'].value_counts() > 500].index.values
cars_df = cars_df[cars_df['manufacturer'].isin(top_manufacturers)].copy()
# combine dummy variables with DataFrame
cars_df = pd.concat([cars_df,pd.get_dummies(cars_df['manufacturer'], dtype=float)], axis=1)

# convert categorical data appropriately for sklearn
cars_df['condition'] = cars_df['condition'].map({'salvage':0,
                          'fair':1,
                          'good':2,
                          'excellent':3,
                          'like new':4,
                          'new':5})

cars_df = cars_df[cars_df['cylinders'] != 'other']
cars_df['cylinders'] = cars_df['cylinders'].map({'3 cylinders':0,
                                                 '4 cylinders':1,
                                                 '5 cylinders':2,
                                                 '6 cylinders':3,
                                                 '8 cylinders':4,
                                                 '10 cylinders':5,
                                                 '12 cylinders':6})

# combine dummy variables with DataFrame
cars_df = pd.concat([cars_df, pd.get_dummies(cars_df['fuel'], dtype=float)], axis=1)
# convert nominal categorical data
cars_df = pd.concat([cars_df, pd.get_dummies(cars_df['title_status'], dtype=float)], axis=1)

# transmission value other not useful, drop it
cars_df = cars_df[cars_df['transmission'] != 'other'].copy()
# convert nominal categorical data
cars_df = pd.concat([cars_df, pd.get_dummies(cars_df['transmission'], dtype=float)], axis=1)

# convert nominal categorical data
cars_df = pd.concat([cars_df, pd.get_dummies(cars_df['drive'], dtype=float)], axis=1)

#encode size to be numeric
cars_df['size'] = cars_df['size'].map({'sub-compact':0, 'compact':1, 'mid-size':2, 'full-size':3})

# convert only the types with values counts > 400
type_cars = ['sedan', 'SUV', 'truck', 'pickup', 'coupe', 'hatchback', 'van', 'convertible', 'mini-van', 'wagon']
cars_df = cars_df[cars_df['type'].isin(type_cars)].copy()
cars_df = pd.concat([cars_df, pd.get_dummies(cars_df['type'], dtype=float)], axis=1)

regr_cars_df = cars_df.drop(columns=['manufacturer', 'fuel', 'title_status', 'type', 'paint_color', 'state', 'posting_date', 'transmission', 'drive']).copy()

In [10]:
regr_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57909 entries, 0 to 62016
Data columns (total 57 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          57909 non-null  float64
 1   year           57909 non-null  int64
 2   condition      57909 non-null  int64
 3   cylinders      57909 non-null  int64
 4   odometer       57909 non-null  float64
 5   size           57909 non-null  int64
 6   acura          57909 non-null  float64
 7   audi           57909 non-null  float64
 8   bmw            57909 non-null  float64
 9   buick          57909 non-null  float64
 10  cadillac       57909 non-null  float64
 11  chevrolet      57909 non-null  float64
 12  chrysler       57909 non-null  float64
 13  dodge          57909 non-null  float64
 14  ford           57909 non-null  float64
 15  gmc            57909 non-null  float64
 16  honda          57909 non-null  float64
 17  hyundai        57909 non-null  float64
 18  jeep           57909 non-null  float64
 19  kia            57909 non-null  float64
 20  lexus          57909 non-null  float64
 21  lincoln        57909 non-null  float64
 22  mazda          57909 non-null  float64
 23  mercedes-benz  57909 non-null  float64
 24  nissan         57909 non-null  float64
 25  pontiac        57909 non-null  float64
 26  ram            57909 non-null  float64
 27  subaru         57909 non-null  float64
 28  toyota         57909 non-null  float64
 29  volkswagen     57909 non-null  float64
 30  volvo          57909 non-null  float64
 31  diesel         57909 non-null  float64
 32  electric       57909 non-null  float64
 33  gas            57909 non-null  float64
 34  hybrid         57909 non-null  float64
 35  other          57909 non-null  float64
 36  clean          57909 non-null  float64
 37  lien           57909 non-null  float64
 38  missing        57909 non-null  float64
 39  parts only     57909 non-null  float64
 40  rebuilt        57909 non-null  float64
 41  salvage        57909 non-null  float64
 42  automatic      57909 non-null  float64
 43  manual         57909 non-null  float64
 44  4wd            57909 non-null  float64
 45  fwd            57909 non-null  float64
 46  rwd            57909 non-null  float64
 47  SUV            57909 non-null  float64
 48  convertible    57909 non-null  float64
 49  coupe          57909 non-null  float64
 50  hatchback      57909 non-null  float64
 51  mini-van       57909 non-null  float64
 52  pickup         57909 non-null  float64
 53  sedan          57909 non-null  float64
 54  truck          57909 non-null  float64
 55  van            57909 non-null  float64
 56  wagon          57909 non-null  float64
dtypes: float64(53), int64(4)
memory usage: 25.6 MB

In [11]:
regr_cars_df.head()

,price,year,condition,cylinders,odometer,size,acura,audi,bmw,buick,...,SUV,convertible,coupe,hatchback,mini-van,pickup,sedan,truck,van,wagon
0,99990.0,2018,4,3,1234.0,3,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,99888.0,1940,3,4,46113.0,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,99700.0,2018,3,4,31484.0,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,98750.0,2019,4,4,47100.0,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,98500.0,1970,3,4,27000.0,2,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
X = regr_cars_df.drop(['price'], axis =1).values # Give us all the predictors except the labeled data
y = regr_cars_df['price'].values

In [25]:
X[0].reshape(1,-1).shape

(1, 56)

In [24]:
loaded_model.predict( X[0].reshape(1,-1))

array([76118.16921875])